.container {
   width: 90vw;
   max-width: 600px;
   margin: 0 auto;
}

.title {
   text-align: center;
   font-size: 1.5rem;
   margin: 10px auto 0;
}

.optionBtnsWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
   gap: 10px;
   flex-wrap: wrap;
}

.optionBtn {
   color: var(--accent) !important;
   border-color: var(--accent) !important;
}

.optionBtnActive {
   color: var(--primary);
}

.workoutHistorySelect,
.workoutHistorySelectInactive {
   padding: 5px 20px;
   background: none;
   border: 1px solid;
   border-radius: 5px;
   font-size: 1.25rem;
}

.workoutHistorySelect {
   color: var(--primary);
   border-color: var(--primary);
}

.workoutHistorySelectInactive {
   color: var(--accent);
   border-color: var(--accent);
}