.container {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 30px;
}

.contentWrapper {
   flex-grow: 1;
}

.workoutName {
   font-size: 1.25rem;
   font-weight: 500;
}

.completedDate {
   font-size: 0.875rem;
   margin-top: 5px;
}

.linkWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}

.linkWrapper > *:not(:first-child) {
   margin-left: 15px;
}

.navLink {
   text-decoration: none;
   color: var(--primary);
   font-size: 1.5rem;
   margin: 5px;
}

.deleteBtn {
   background: none;
   border-style: none;
   color: var(--warning);
   font-size: 1.5rem;
}
