/* ExerciseSetsGrid */

.exerciseSetsGridWrapper {
   display: grid;
   grid-template-columns: 1fr 1fr 7fr 2fr;
   margin-top: 10px;
   gap: 10px 0;
   width: 100%;
}

/* SharedSetRow */

.gridDataCell,
.gridEditCell,
.gridHeaderCell {
   display: flex;
   justify-content: center;
   align-items: center;
}

.gridEditCell {
   padding: 10px 0;
}

.gridDataCell,
.rowOptionsCell {
   padding: 5px 0;
}

.rowOptionsCell {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.gridHeaderCell {
   padding: 5px 0;
   font-size: 0.875rem;
   color: var(--accent);
}

.deleteSetBtn {
   color: var(--warning);
}

.optionsBtn {
   color: var(--primary);
}

/* ExerciseSetRow */

.exerciseSetRowOptions {
   display: flex;
   align-items: center;
   justify-content: center;
}

.skipToSetBtn {
   color: var(--primary);
}

.warmUpIcon {
   background-color: var(--accent);
   width: 20px;
   aspect-ratio: 1 / 1;
   text-align: center;
   color: var(--secondary);
   border-radius: 1000px;
   font-size: 0.75rem;
   margin-left: 5px;
}

.optionsWrapper {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

.optionsDropDown {
   position: absolute;
   top: 100%;
   left: -100%;
   transform: translateX(-50%);
   padding: 10px;
   border-radius: 10px;
   background-color: var(--accent);
}

.toggleBtn {
   color: var(--secondary);
   background: none;
   border-style: none;
   display: flex;
   align-items: center;
   flex: 1 0 auto;
   min-width: 110px;
}

.toggleIcon {
   font-size: 30px;
}

.toggleSetOptionText {
   font-size: 0.5rem;
   font-weight: 500;
   margin-left: 5px;
   color: var(--charcoal);
}

/* ExerciseSetEditRow */

.setInputsWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.repsWeightWrapper {
   display: grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: auto auto;
   align-items: center;
}

.timeInputsWrapper {
   display: flex;
   align-items: center;
   margin-top: 10px;
}

.timeInputWrapper {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.timeSubText {
   font-size: 0.75rem;
}

.repsInput,
.weightInput,
.timeInput,
.distanceInput {
   text-align: center;
   font-size: 1.5rem;
   font-weight: 500;
}

.repsInput,
.timeInput {
   width: 50px;
}

.repsInput {
   grid-column: 1;
   grid-row: 1;
}

.weightInputWrapper,
.distanceInputWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.weightInputWrapper {
   grid-column: 3;
   grid-row: 1 / span 2;
}

.weightInput,
.distanceInput {
   width: 80px;
}

.unitSelector {
   margin-top: 5px;
   background: none;
   border: 1px solid;
   border-radius: 5px;
   color: var(--primary);
}

.repsWeightSeperator {
   font-size: 1rem;
   margin: 0 5px;
   grid-column: 2;
   grid-row: 1;
}

.timeInputsWrapper > *:not(:first-child) {
   margin-left: 10px;
}

.distanceInputWrapper {
   margin-top: 10px;
}
