.container {
   display: flex;
   flex-flow: column;
   align-items: center;
}

.exerciseTitleWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
}

.deleteExerciseBtn {
   color: var(--warning);
   margin-left: 10px;
}

.exerciseNameInputWrapper {
   display: flex;
   align-items: center;
   width: 100%;
   margin-top: 20px;
   justify-content: center;
   gap: 10px;
}

.changeExerciseBtn {
   color: var(--primary);
}

.changeExerciseBtnDisabled {
   color: var(--accent);
}

.addSetBtn > *:not(:first-child) {
   margin-left: 10px;
}

.exerciseOptionsWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
   gap: 30px;
}
