.container {
   display: flex;
   flex-flow: column;
   align-items: center;
}

.exerciseTitleWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
}

.deleteExerciseBtn {
   min-width: 30px;
   font-size: 1.5rem;
   color: var(--warning);
   margin-left: 10px;
}

.exerciseNameInputWrapper {
   display: flex;
   align-items: center;
   width: 100%;
   margin-top: 20px;
   justify-content: center;
}

.changeExerciseBtn {
   background: none;
   border-style: none;
   color: var(--primary);
   font-size: 2rem;
   min-width: 30px;
}

.changeExerciseBtnDisabled {
   color: var(--accent);
}

.exerciseNameInput {
   font-size: 1.25rem;
   margin: 0 5px;
   text-align: center;
}

.saveSetBtn {
   color: var(--primary);
   font-size: 2rem;
}

.addSetBtn {
   margin-left: 30px;
}

.addSetBtn > *:not(:first-child) {
   margin-left: 10px;
}

.exerciseOptionsWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
}
