.wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0 0 3px 0 var(--accent);
   padding: 10px 10px 15px;
   border-radius: 10px;
   margin-top: 20px;
}

.reorderBtn,
.deleteBtn {
   background: none;
   border-style: none;
   font-size: 1.5rem;
}

.deleteBtn {
   color: var(--warning);
}

.reorderBtn {
   color: var(--primary);
   cursor: grab;
}

.reorderBtn:active {
   cursor: grabbing;
}

.contentWrapper {
   display: flex;
   flex-flow: column;
   flex-grow: 1;
   padding: 0 10px;
}

.setCount {
   font-weight: 500;
   font-size: 0.75rem;
   margin-top: 10px;
}

.weightCount {
   font-size: 1rem;
   margin-top: 5px;
}

.exerciseNameInput {
   width: 100%;
   background: none;
   color: white;
   border: 1px solid;
   border-color: var(--accent);
   border-radius: 5px;
   padding: 3px 5px;
   font-size: 1.25rem;
}
