.container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.timer {
   font-size: 64px;
}

.sideWrapper {
   display: flex;
   flex-direction: column;
   row-gap: 5px;
   align-items: center;
}

.timerOptionsWrapper {
   display: flex;
   gap: 10px;
}
