.container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.weightInputsWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}

.incrementBtnsWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
}

.incrementBtn,
.decrementBtn {
   border-style: none;
   font-size: 12px;
   width: 30px;
   aspect-ratio: 1 / 1;
   border-radius: 1000%;
}

.incrementBtn {
   background-color: var(--primary);
}

.decrementBtn {
   background-color: var(--warning);
}
