.container {
   display: flex;
   align-items: center;
   margin: 0 auto;
   max-width: 500px;
   border: 1px solid var(--accent);
   padding: 10px 20px;
   border-radius: 10px;
}

.textWrapper {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.workoutName {
   font-weight: 600;
   font-size: 18px;
}

.workoutDate {
   font-size: 14px;
}

.workoutType {
   font-size: 14px;
   color: var(--accent);
}

.optionsWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   min-width: 100px;
}
