.heroWrapper {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: var(--secondary);
   background: linear-gradient(
      0deg,
      var(--secondary) 84%,
      var(--success) 100%,
      var(--primary) 90%
   );
}

.heroTitle {
   text-align: center;
   font-size: 3rem;
   color: var(--primary);
}

.heroSubTitle {
   font-size: 1rem;
   font-weight: 400;
   text-align: center;
   margin-top: 30px;
   line-height: 2;
   padding: 0 10px;
}

.heroLinkWrapper {
   margin-top: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.heroLinkWrapper > *:not(:first-child) {
   margin-left: 20px;
}

.learnMoreWrapper {
   position: absolute;
   bottom: 30px;
   left: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   transform: translateX(-50%);
}

.learnMoreText {
   font-size: 0.75rem;
}

.learnMoreIcon {
   font-size: 1rem;
   margin-top: 10px;

   animation: bounce;
   animation-duration: 1.5s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
}

@keyframes bounce {
   0%,
   100% {
      transform: translateY(0);
   }

   50% {
      transform: translateY(10px);
   }
}

.showcaseWrapper {
   min-height: 100vh;
   position: relative;
   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("/public/weight-gym-background.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 50px 0 30px;
}

.navigationWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   width: 90vw;
   max-width: 300px;
}

.navigationBtn {
   background: none;
   border-style: none;
   color: var(--primary);
   font-size: 2rem;
   cursor: pointer;
}

.timerWrapper {
   border: 3px solid;
   border-color: var(--primary);
   border-radius: 1000px;
   height: 15px;
   margin: 0 20px;
   flex-grow: 1;
   overflow: hidden;
}

.timerBar {
   width: 0;
   height: 100%;
   background-color: var(--primary);
}

.contentWrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   margin: 30px auto 0;
   width: 90vw;
}

.screenshotImg {
   max-height: 500px;
   box-shadow: 0 0 15px 0 white;
   border-radius: 10px;
}

.screenshotDescription {
   max-width: 500px;
   text-align: center;
   font-size: 1.25rem;
   line-height: 2;
   margin: 30px 20px;
}

@keyframes fillProgressBar {
   from {
      width: 0%;
   }
   to {
      width: 100%;
   }
}

.titleWrapper {
   max-width: 600px;
   margin: 0 auto;
   text-align: center;
}

.plansTitle {
   text-align: center;
   font-size: 2rem;
   font-weight: 500;
   margin-top: 30px;
}

.plansWrapper {
   display: flex;
   align-items: start;
   justify-content: center;
   padding: 30px 0;
   flex-wrap: wrap;
}

.planWrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   max-width: 250px;
   margin: 30px 10px;
   height: 300px;
}

.planTitle {
   text-align: center;
   font-size: 2rem;
   font-weight: 600;
}

.pricingSubTitle {
   margin-top: 5px;
   font-size: 0.875rem;
   color: var(--primary);
   font-weight: 500;
   text-align: center;
}


.planDescription {
   text-align: center;
   margin-top: 15px;
}