@import url("https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap");

.container {
   position: fixed;
   inset: 0;
   display: flex;
   overflow: hidden;
   justify-content: center;
   align-items: center;
   z-index: 100;
   pointer-events: none;
   transition: background-color 500ms ease-out;
   background-color: rgba(0, 0, 0, 0.6);
}

.fadeOut {
   background-color: transparent;
}

.lightWeightTitleWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.lightWeightTitleWrapper > *:not(:first-child) {
   margin-top: 15px;
}

.lightWeightTitle {
   font-family: "Rubik Beastly";
   font-size: 6rem;
   color: var(--primary);
   transform: rotate(20deg);
}