.container {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 10;
   background-color: var(--secondary);
   /* border-top: 1px solid var(--primary); */
   box-shadow: 0 0 3px 2px var(--success);
}

.wrapper {
   width: 80vw;
   max-width: 500px;
   margin: 15px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navLink {
   font-size: 30px;
   color: var(--accent);
}

.activeNavLink {
   color: var(--primary);
}

.cancelBtn,
.saveBtn {
   font-size: 1rem;
   background: none;
   padding: 1px 10px;
   border-radius: 5px;
   border: 1px solid;
}

.saveBtn {
   color: var(--primary);
}

.cancelBtn {
   color: var(--accent);
}
