.link {
   background: none;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 8px 15px;
   border: 1px solid var(--primary);
   color: var(--primary);
   border-radius: 5px;
   text-decoration: none;
}

.text {
   font-size: 14px;
}
