.container {
   width: 90vw;
   max-width: 600px;
   margin: 0 auto 80px;
}

.title {
   text-align: center;
   font-size: 1.5rem;
   margin: 10px auto 0;
}

.createWorkoutWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
}

.createWorkoutLink {
   margin: 15px auto 0;
}
