.container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}

.container > *:not(:first-child) {
   margin-left: 10px;
}

.setTitle {
   text-align: center;
   margin-top: 5px;
}

.inputWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 5px;
}

.repsInput,
.weightInput {
   background: none;
   color: white;
   border: 1px solid;
   margin: 10px auto;
   appearance: textfield;
   font-size: 2rem;
   border-radius: 5px;
   text-align: center;
}

.repsInput {
   max-width: 80px;
}

.weightInput {
   max-width: 150px;
}

.inputBtn {
   background: none;
   border-style: none;
   color: var(--primary);
   font-size: 1.25rem;
}

.weightIncrementWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
}

.weightIncrementBtn,
.weightDecrementBtn {
   border-style: none;
   font-size: 0.75rem;
   color: var(--secondary);
   margin: 0 5px;
   width: 40px;
   aspect-ratio: 1 / 1;
   text-align: center;
   border-radius: 1000px;
   font-size: 1rem;
}

.weightIncrementBtn {
   background-color: var(--primary);
}

.weightDecrementBtn {
   background-color: var(--warning);
}
