.tableWrapper {
   width: 100%;
   border-collapse: collapse;
}

.tableData {
   text-align: center;
}

.tableHeader {
   border-bottom: 1px solid var(--primary);
   color: var(--accent);
}

.tableData {
   padding: 20px 5px;
   border-bottom: 1px solid var(--accent);
}

.setNumberWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.warmupIcon {
   color: var(--secondary);
   background-color: var(--accent);
   border-radius: 1000px;
   width: 20px;
   aspect-ratio: 1 / 1;
   font-weight: bold;
   font-size: 0.75rem;
   text-align: center;
}

.repsWeightInputWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.exerciseSetOptionsWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.noteWrapper {
   position: relative;
}

.noteModalWrapper {
   position: absolute;
   right: -60px;
   width: 90vw;
   max-width: 400px;
   background-color: var(--accent);
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
   border-radius: 5px;
}

.addNoteBtn {
   color: var(--primary);
   margin-left: 10px;
}

.notesBtn {
   color: var(--accent);
}

.notesBtnActive {
   color: var(--primary);
}

.completeBtn {
   color: var(--primary);
}

.notCompleteBtn {
   color: var(--accent);
}
