.tableWrapper {
   width: 100%;
   border-collapse: collapse;
   margin-top: 30px;
}

.tableHeader,
.tableData {
   text-align: center;
}

.tableHeader {
   border-bottom: 1px solid var(--primary);
   color: var(--accent);
   font-weight: 500;
   font-size: 0.75rem;
}

.tableData {
   padding: 20px 5px;
   border-bottom: 1px solid var(--accent);
}

.repsWeightInputWrapper {
   display: flex;
   justify-content: center;
   align-items: start;
   gap: 20px;
}

.completeBtn {
   color: var(--primary);
}

.notCompleteBtn {
   color: var(--accent);
}
