.tableContainer {
   width: 90%;
   margin: 10px auto 0;
}

.currentSetSkipToSetBtn,
.deleteSetBtn {
   background: none;
   border-style: none;
   font-size: 1rem;
   cursor: pointer;
}

.skipToSetBtn {
   color: var(--primary);
}

.currentSetSkipToSetBtn {
   color: var(--accent);
   cursor: not-allowed;
}

.incompleteSetIcon,
.setCompleteIcon {
   font-size: 1.25rem;
}

.setCompleteBtn {
   background: none;
   border-style: none;
}

.setCompleteIcon {
   color: var(--primary);
}

.incompleteSetIcon {
   color: var(--accent);
}

.deleteSetBtn {
   color: var(--warning);
   font-size: 1.25rem;
   margin-left: 10px;
}
