.container {
   width: 90vw;
   max-width: 600px;
   margin: 0 auto;
   padding-bottom: 100px;
}

.typeBtnsWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
   margin-top: 30px;
}

.inactiveTypeBtn {
   color: var(--accent) !important;
   border-color: var(--accent) !important;
}
