.container {
   width: 90vw;
   max-width: 600px;
   margin: 0 auto;
}

.title {
   text-align: center;
   font-size: 1.5rem;
   margin: 10px auto 0;
}

.logoutBtn {
   background: none;
   border: 1px solid;
   color: var(--primary);
   padding: 5px 10px;
   border-radius: 5px;
   cursor: pointer;
   display: block;
   margin: 30px auto 0;
}

.unitPreferencesWrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 30px 100px;
   margin-top: 30px;
}

.unitPreferenceTitle {
   text-align: center;
   font-size: 1.25rem;
   font-weight: 500;
}

.weightUnitToggleWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
}

.weightUnitBtn {
   background: none;
   border-style: none;
   font-size: 1.5rem;
   color: var(--primary);
   margin: 0 5px;
}

.distanceUnitSelect {
   background: none;
   border: 1px solid;
   border-color: var(--primary);
   color: var(--primary);
   margin: 10px auto 0;
   padding: 3px 10px;
   border-radius: 5px;
   display: block;
}

.accountOptionsWrapper {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   margin-top: 30px;
}

.accountOptionBtn {
   margin: 5px;
}

.deleteAccountBtn {
   margin: 30px auto 0;
   color: var(--warning) !important;
   border-color: var(--warning) !important;
}
