.container {
   width: 90vw;
   max-width: 600px;
   margin: 0 auto;
   padding-bottom: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.addMetricBtn {
   margin-top: 30px;
}