.container {
   position: relative;
   width: 90vw;
   max-width: 600px;
   margin: 0 auto;
   padding-bottom: 180px;
}

.workoutNameInput {
   margin: 50px auto 0;
   width: 90%;
}

.reorderExerciseBtn {
   margin: 15px auto 0;
}

.addExerciseText {
   margin-left: 5px;
}