.workoutNameInputWrapper {
   margin-top: 10px;
}

.headerOptionsWrapper {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 10px;
}
.repsWeightWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   margin-top: 20px;
}
